@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700|Open+Sans:400,300,600,700);

/* GENERAL */

body {
	overflow-x: hidden;
    background-image: url("img/pattern.png");
    background-repeat: repeat;
}

h3, h4 {
	margin: 0;
	font-family: 'Open Sans', Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 3px;
	font-weight: 600;
}

h5 {
	margin:0;
	font-family: 'Open Sans', Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 3px;
	font-weight: 700;
}

a, a:hover {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.7);
}

/* HOME */

.home-welcome {
	position: relative;
	padding: 0;
	width: 290px;
	height: 75%;
	border: 5px solid rgba(0, 0, 0, 0.7);
	margin-top: 10%;
	margin-bottom: 5%;
}

.logo-img {
	width: 200px;
	height: 200px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
}

.logo-img>div {
	height: 200px;
	width: 200px;
	background: no-repeat center center;
	background-size: cover;
}

.logo-text {
	width: 230px;
	padding: 0;
	margin: 0;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	font-family: 'Open Sans', Helvetica, sans-serif;
	text-align: center;
	color: white;
}

.divider {
	width: 230px;
	border-bottom: 3px solid rgba(0, 0, 0, 0.7);
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	margin-bottom: 0;
}

.home-punchline {
	width: 230px;
	padding: 0;
	margin: 0;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;	
	text-align: center;
	color: rgba(0, 0, 0, 0.7);
}

.home-punchline h1 {
	margin-bottom: 0px;
	margin-top: 0px;
	font-family: 'Libre Baskerville', Times, serif; 
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 700;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(225, 28, 40, 0.8);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(225, 28, 40, 0.8);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(225, 28, 40, 0.8);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(225, 28, 40, 0.8);
}

.home-welcome form input {
	background-color: transparent;
	border: none;
	margin-bottom: 15px;
	font-size: 14px;
	font-family: 'Open Sans', Helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	width: 230px;
	text-align: center;
	font-weight: 600;
}

.home-welcome form input:focus {
	outline: none;
	color: rgba(225, 28, 40, 0.8);
}

.agent-id, .agent-password {
	width: 230px;
	padding: 0;
	margin: 0;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-bottom: 3px solid rgba(0, 0, 0, 0.7);
	color: rgba(225, 28, 40, 0.8);
}

.agent-id:hover, .agent-password:hover {
	color: rgba(225, 28, 40, 1);
}

.home-access {
	width: 230px;
	height: auto;
	padding: 0;
	margin: 0;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	color: rgba (0, 0, 0, 0.7);
	border: 3px solid rgba(225, 28, 40, 0.8);
	text-align: center;
}

.home-access input:hover {
	color: rgba(225, 28, 40, 0.7);
}

.home-access input{
	margin-top: 15px;
}

.home-footer {
	position: relative;
	width: 100%;
	height: 10%;
	bottom: 0;
}

.footer-contact {
	font-family: 'Open Sans', Helvetica, serif;
	font-size: 11px;
	letter-spacing: 3px;
	color: rgba(0, 0, 0, 0.7);
	text-align: center;
	text-transform: uppercase;
}

.footer-contact a:hover {
	color: rgba(225, 28, 40, 0.7);
}

.footer-credits {
	font-family: 'Libre Baskerville', Times, sans-serif;
	font-size: 10px;
	letter-spacing: 2px;
	color: rgba(0, 0, 0, 0.7);
	text-align: center;
	text-transform: uppercase;
}

/* CONTACT */

.contact  {
	text-align: center;
	font-family: 'Libre Baskerville', Times, serif;
	color: rgba(225, 28, 40, 0.7);
	font-size: 18px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.contact-background {
	position: fixed;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.contact-background-img {
	height: 100%;
	width: 100%;
}

.contact-background-img>div {
	height: 100%;
	background: no-repeat center center;
	background-size: cover;
}

/* TABLEAU DE BORD */	

.dashboard {
	position: absolute;
	height: 100%;
	width: 100%;
	padding-top: 10%;
}

.dashboard .row, .dashboard .clearfix {
	width: 250px;
	margin: 0;
	margin-right: auto;
	margin-left: auto;
	height: 1500px;
	margin-bottom: 10%;
}

.dashboard .puzzle {
	height: 250px;
	padding: 0;
	margin: 0;
}

.puzzle>div, .puzzle>a div {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	background: no-repeat center center;
	background-size: cover;
	z-index: 100;
}

.puzzle-1 .logo {
	position: absolute;
	height: 125px;
	width: 125px;
	z-index: 1000;
	top: 0;
	margin-left: 25px;
	margin-top: 25px;
}

.dashboard .bouton {
	position: absolute;
	z-index: 1000;
	top:0;
}


.puzzle-2 .bouton-solid {
	width: 100%;
	height: 100%;
	border: 2px solid rgba(225, 28, 40, 0.8);
}

.dashboard h1, .dashboard h2 {
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Open Sans', Helvetica, sans-serif;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
	font-weight: 600;
	margin-top: 11px;
}

.puzzle-2 .bouton .bouton-valider {
	height: 92.5px;
	width: 187.5px;
	padding: 20px;
	margin-top: 31.5px;
}

.puzzle-2 .bouton .bouton-indices {
	height: 92.5px;
	width: 187.5px;
	padding: 20px;
	margin-top: 122.5px;
	margin-left: 62.5px;
}

/*.puzzle-2 .bouton .bouton-valider .bouton-solid:hover, .puzzle-2 .bouton .bouton-indices .bouton-solid:hover {
	color: rgba(225, 28, 40, 0.8);
}*/

.puzzle-3 .bouton-chrono {
	width: 100%;
	height: 112px;
	margin-top: 77.5px;
	padding: 30px;
}

.puzzle-3 .bouton-chrono p {
	font-family: 'Libre Baskerville', Times, serif;
	text-align: center;
	letter-spacing: 2px;
	color: rgba(225, 28, 40, 0.8);
	font-size: 24px;
	margin-top: 10px;
}

#compte_a_rebours {
	font-family: 'Libre Baskerville', Times, serif;
	text-align: center;
	letter-spacing: 2px;
	color: rgba(225, 28, 40, 0.8);
	font-size: 24px;
	margin-top: 10px;
}


.puzzle-3 .bouton-id {
	right: 0;
	margin-top: 186px;
	height: 62.5px;
	width: 127px;
	padding: 20px;
}

.puzzle-3 .bouton-id p {
	text-align: center;
	font-family: 'Libre Baskerville', Times, serif;
	letter-spacing: 1px;
	font-size: 18px;
	color: rgba(0, 0, 0, 0.7);
}

.puzzle-4 .bouton-bienvenue {
	width: 100%;
	height: 62.5px;
	top: 0;
	padding: 20px;
}

.puzzle-4 .bouton-bienvenue p {
	text-align: center;
	font-family: 'Libre Baskerville', Times, serif;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.7);
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 2px;
}

.puzzle-4 .bouton-bienvenue p strong {
	color: rgba(225, 28, 40, 0.8);
}

.puzzle-4 .bouton-mtsptk {
	top: 0;
	width: 100%;
	margin-top: 62.5px;
	height: 62.5px;
	padding: 10px;
}

.puzzle-4 .bouton-mtsptk .texte {
	position: absolute;
	display: inline-block;
	width: 20%;
	height: 100%;
	text-align: center;
	font-family: 'Libre Baskerville', Times, serif;
	margin-top: 10px;
	color: rgba(225, 28, 40, 0.8)
}

.puzzle-4 .bouton-mtsptk .jauge {
	position: absolute;
	display: inline-block;
	right: 0;
	margin-right: 15px;
	margin-left: 50px;
	height: 70%;
	background: no-repeat center center;
	background-size: cover;
}

.puzzle-4 .bouton-legende-mtsptk {
	width: 100%;
	height: 62.5px;
	margin-top: 125px;
}

.puzzle-4 .bouton-legende-mtsptk p {
	font-family: 'Libre Baskerville', Times, serif;
	font-size: 12px;
	text-align: right;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.puzzle-5 .bouton-carte {
	top: 0;
	height: 187.5px;
	width: 187.5px;
	padding: 20px;
}

.puzzle-5 .bouton-carte .carte {
	border-radius: 100%;
	border: 2px solid rgba(0, 0, 0, 0.7);
	height: 100%;
	width: 100%;
	background: no-repeat center center;
	background-size: cover;
}

.puzzle-5 .bouton-statut-partenaire {
	height: 25%;
	width: 100%;
	margin-top: 75%;
	padding: 10px;
	display: -webkit-inline-box;
}

.puzzle-5 .bouton-statut-partenaire p {
	text-align: center;
	font-family: 'Libre Baskerville', Times, serif;
	font-size: 12px;
	margin-top: 6px;
	font-weight: 700;
	margin-right: 50px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.puzzle-5 .bouton-statut-partenaire p strong {
	color: rgba(225, 28, 40, 0.8);	
}

.puzzle-5 .icone-statut-partenaire {
	width: 40px;
	height: 40px;
	background: no-repeat center center;
	background-size: cover;
	margin-top: 2px;
	margin-left: -38px;
}

.puzzle-6 .bouton-report {
	height: 25%;
	width: 100%;
	padding: 10px;
}

.puzzle-6 .bouton-report p {
	font-family: 'Libre Baskerville', Times, serif;
	font-size: 8px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.7);
	text-align: center;
	margin-top: 15px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/* INDICES INTERMEDIAIRE */

.indices-intermediaire {
	height: 100%;
	width: 100%;
	padding: 10%;
}

.indices-intermediaire .logo, .indices-intermediaire .logo a{
	padding: 0;
	margin: 0;
	height: 150px;
	width: 150px;
	background: no-repeat center center;
	background-size: cover;
	z-index: 100;
	margin-right: auto;
	margin-left: auto;
}

.indices-intermediaire .explications {
	width: 100%;
	height: auto;
	margin-top: 40px;
	text-align: center;
	font-family: 'Libre Baskerville', Times, serif;
	letter-spacing : 2px;
	font-size: 12px;
	color: rgba(0 .0, 0, 0.7);
	font-weight: 400;
}

.indices-intermediaire .explications strong {
	letter-spacing : 1px;
	font-size: 14px;
	color: rgba(225, 28, 40, 0.8);
	font-weight: 700;
}

.indices-intermediaire .precision {
	font-family: 'Libre Baskerville', Times, serif;
	color: rgba(0, 0, 0, 0.7);
	font-size: 10px;
	letter-spacing: 2px;
	font-weight: 700;
}

.indices-intermediaire .girafe, .indices-intermediaire .girafe a{
	padding: 0;
	margin: 0;
	height: 100px;
	width: 24px;
	background: no-repeat center center;
	background-size: cover;
	z-index: 100;
	margin-right: auto;
	margin-left: auto;
	margin-top: 40px;
}

.indices-intermediaire .lien-legende {
	font-family: 'Libre Baskerville', Times, serif;
	font-size: 10px;
	color: rgba(0 ,0 ,0 ,0.7);
	letter-spacing: 2px;
	text-align: center;
	margin-top: 25px;
	font-weight: 700;
}

.indices {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 5%;
	margin-top: 500px;
}

.indices h1 {
	font-family: 'Libre Baskerville', Times, serif;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.7);
	text-align: center;
}

.indices .indices-texte {
	margin-top: 40px;
	font-family: 'Libre Baskerville', Times, serif;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.7);
	text-align : center;
	font-weight: 400;
	letter-spacing: 2px;
	line-height: 2;
}

.indices .indices-texte button {
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.7);
	font-weight: 700;
	letter-spacing: 3px;
	line-height: 2;
	background-color: transparent;
	border: none;
	padding: 0;
	text-transform: uppercase;
}

.indices .indices-texte button:focus {
	outline: none;
}


.popover {
	min-width: 350px;
  padding: 10px;
  font-family: "Libre Baskerville", Times, serif;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 2;
  text-align: center;
  background-image: url("img/pattern.png");
  background-repeat: repeat;
  border: 2px solid rgba(225, 28, 40, 0.8);
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: rgba(0, 0, 0, 0.7);
}
.popover.top {
  margin-top: -10px;
}
.popover.right {
  margin-left: 20px;
}
.popover.bottom {
  margin-top: 10px;
}
.popover.left {
  margin-left: -10px;
}

.popover > .arrow,
.popover > .arrow:after {
	display: none;
}

.indices .indices-texte a {
	font-weight: 700;
}

.indices .indices-texte strong {
	font-weight: 400;
	color: rgba(225, 28, 40, 0.8);
}

.indices .jauge-mtsptk {
	margin-top: 50px;
}

.indices .jauge-texte {
	float: left;
	display: inline-block;
	font-family: 'Libre Baskerville', Times, serif;
	font-size: 20px;
	color: rgba(225, 28, 40, 0.8);
}

.indices .jauge {
	display: inline-block;
	float: right;
	height: 30px;
}

/* RESPONSIVE : TABLETTE */

@media (min-width: 768px) {

.dashboard .row, .dashboard .clearfix {
	width: 600px;
	height: 900px;
}

.dashboard .puzzle {
	height: 300px;
}

.puzzle-1 .logo {
	height: 125px;
	width: 125px;
	margin-left: 50px;
	margin-top: 50px;
}

.puzzle-2 .bouton .bouton-valider {
	height: 112.5px;
	width: 225px;
	margin-top: 37.5px;
}

.puzzle-2 .bouton-solid {
	padding: 10px 15px 0px 15px;
}

.puzzle-2 .bouton .bouton-indices {
	height: 112.5px;
	width: 225px;
	margin-top: 150px;
	margin-left: 75px;
}

.puzzle-3 .bouton-chrono {
	height: 150px;
	margin-top: 75px;
	padding: 50px;
}

.puzzle-3 .bouton-id {
	margin-top: 225px;
	height: 75px;
	width: 150px;
	padding: 25px;
}

.puzzle-4 .bouton-bienvenue {
	height: 75px;
	padding: 25px;
}

.puzzle-4 .bouton-bienvenue p {
	text-align: left;
	margin-top: 4px;
}

.puzzle-4 .bouton-mtsptk {
	margin-top: 75px;
	height: 75px;
}

.puzzle-4 .bouton-mtsptk .texte {
	margin-top: 15px;
}

.puzzle-4 .bouton-mtsptk .jauge {
	margin-left: 60px;
}

.puzzle-4 .bouton-legende-mtsptk{
	margin-top: 150px;
}

.puzzle-5 .bouton-carte {
	height: 225px;
	width: 225px;
	padding: 20px;
}

.puzzle-5 .bouton-statut-partenaire {
	padding: 20px;
}

.puzzle-5 .bouton-statut-partenaire p {
	margin-right: 62.5px;
}

.puzzle-6 .bouton-report {
	padding: 15px;
}

.indices-intermediaire .girafe, .indices-intermediaire .girafe a{
	height: 150px;
	width: 36px;
	margin-top: 40px;
}

.indices .indices-texte button {
	font-size: 14px;
	letter-spacing: 1px;
}

.indices .jauge-mtsptk {
	margin-top: 75px;
}

.popover {
	min-width: 500px;
}

/* RESPONSIVE : DESKTOP */

@media (min-width: 992px) {

.dashboard .row, .dashboard .clearfix {
	width: 900px;
	height: 600px;
}

.puzzle-4 .bouton-bienvenue p {
	text-align: right;
}

.dashboard {
	padding-top: 7.5%;
}

.dashboard .row, .dashboard .clearfix {
	margin-bottom: 5%;
}

.puzzle-4 .bouton-mtsptk {
	margin-top: 80px;
}

.puzzle-4 .bouton-mtsptk .jauge {
	margin-left: 55px;
}

.puzzle-4 .bouton-mtsptk .texte {
	margin-left: -10px;
}

.puzzle-4 .bouton-legende-mtsptk{
	padding-right: 10px;
	margin-top: 155px;
}

.indices-intermediaire {
	padding: 5% 20% 5% 20%;
}

.indices-intermediaire .girafe, .indices-intermediaire .girafe a{
	height: 200px;
	width: 48px;
	margin-top: 40px;
}

.indices .jauge-mtsptk {
	margin-top: 100px;
}

.indices .indices-texte button {
	font-size: 14px;
	letter-spacing: 1px;
}


.popover {
	min-width: 600px;
}
}